<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span>Consulta</span>
        </mat-toolbar>
        <div class="column-flex mat-elevation-z8">
            <app-pacientes-list *ngIf="pacientes$ | async as pacientes ; else elseBlock" [pacienteList]="pacientes"
                (pacienteListEventOnAdd)="onAddPacientes($event)" (pacienteListEventOnEdit)="onEditPacientes($event)"
                (pacienteListEventOnDelete)="onDeletePacientes($event)">
            </app-pacientes-list>
            <ng-template #elseBlock>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>