<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Consulta</span>
    </mat-toolbar>

    <form [formGroup]="pacientesForm">
      <!-- Form field do angular material -->
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>RG</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Data De Nascimento</mat-label>
        <input matInput>
      </mat-form-field>

      <!-- Select -->
      <mat-form-field appearance="fill">
        <mat-label>Selecione uma especialidade:</mat-label>
        <mat-select>
          <mat-option value="Cardiologista">CARDIOLOGISTA</mat-option>
          <mat-option value="Neurologista">NEUROLOGISTA</mat-option>
          <mat-option value="Pediatra">PEDIATRA</mat-option>
          <mat-option value="Crilinicogeral">CLINICOGERAL</mat-option>
          <mat-option value="Ortepedista">ORTOPEDISTA</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Basic select -->
      <mat-form-field appearance="fill">
        <mat-label>Selecione um especialista:</mat-label>
        <mat-select formControlName="especialista" (selectionChange)="dataDisponivel()">
          <mat-option [value]="option" *ngFor="let option of especialistas">{{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <!-- Datepicker touch UI -->
    <!-- alem de importar o MatDatepickerModule e necessario importar MatNativeDateModule ou 
        MatMomentDateModule so lucao do erro no proprio OVERVIEW do DATEPICKER-->
    <!-- Datepicker with custom formats -->
    <!-- Datepicker with filter validation -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Selecione uma data disponível:</mat-label>
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date">
      <!-- <mat-hint></mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>