<mat-table [dataSource]="pacienteList">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- rg Column -->
  <ng-container matColumnDef="rg">
    <mat-header-cell *matHeaderCellDef> RG </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rg}} </mat-cell>
  </ng-container>

  <!-- telefone Column -->
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
  </ng-container>

  <!-- dataNascimento Column -->
  <ng-container matColumnDef="dataNascimento">
    <mat-header-cell *matHeaderCellDef> Data De Nascimento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dataNascimento}} </mat-cell>
  </ng-container>

  <!-- consulta Column -->
  <ng-container matColumnDef="consulta">
    <mat-header-cell *matHeaderCellDef> Cód.Consulta </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.consulta | consultaid}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="primary" aria-label="Adicionar consultas" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar consultas" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Deletar consultas" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>