<mat-table [dataSource]="pacienteList" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="rg">
    <mat-header-cell *matHeaderCellDef> RG </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rg}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="dataNascimento">
    <mat-header-cell *matHeaderCellDef> Data De Nascimento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dataNascimento}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="consulta">
    <mat-header-cell *matHeaderCellDef> Cód.Consulta </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.consulta | consultaid}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-mini-fab color="primary" aria-label="Adicionar consultas">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" aria-label="Editar consultas">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Deletar consultas">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>